<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/group/add}" th:object="${group}" method="post">
        <p> Enter name of new group: <input type="text" th:field="*{name}"/></p>
        <input type="submit" Value="Add Group"/>
    </form>
    <form th:action="@{/jorahome}" method="get">
        <input type="submit" Value="Home Page"/>
    </form>
</body>
</body>
</html>