<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table id="groupTable">
    <thead>
    <tr>
        <th> Name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${groups.empty}">
        <td colspan="2"> No Groups Listed </td>
    </tr>
    <tr th:each="group : ${groups}">
            <td><span th:text="${group.name}"> Name </span></td>
            <td th:each="student : ${students}"
                th:if="${student.getGroup()} != null and ${student.getGroup()} eq ${group}"
                th:text="${student.getName()}">Students</td>
            <td>
                <a th:href="@{/group/joingroup/(groupId=${group.getId()})}"><Button>Add Student To Group</Button></a>
            </td>
    </tr>

<!--    <a th:href="@{(group=${group.getId()})}"><Button>Join Group</Button></a>-->
    </tbody>
</table>
<form th:action="@{/}" method="get">
    <input type="submit" Value="Home Page"/>
</form>
</body>
</html>