<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peer Assessment Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="group.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Peer Assessment Tool</h1>
    <div id="group-container">
        <button id="addGroupButton">Add Group</button>
        <label for="newGroupName">New Group Name</label>
        <input type="text" id="newGroupName">
    </div>
</body>
</html>