<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table id="personTable">
    <thead>
        <tr><th> List of People </th></tr>
        <tr><th> Name </th>
            <th> Type </th></tr>
    </thead>
    <tbody>
    <tr th:if="${person.empty}">
        <td colspan="3"> No Criteria Listed </td>
    </tr>
    <tr th:each="person : ${person}">
        <td><span th:text="${person.name}"></span></td>
        <td><span th:text="${person.type}"></span></td>
        <td th:switch="${person.type}">
            <form th:case="'Student'" th:action="@{/person/selectUser}" th:object="${person.name}" method="post">
                <input Value="Select User" type="submit"/>
            </form>
            <form th:case="'Instructor'" th:action="@{/person/selectUser}" th:object="${person.name}" method="post">
                <input type="submit" Value="Select User"/>
            </form>

        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/}" method="get">
    <input type="submit" Value="Home Page"/>
</form>
</body>
</html>