<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table id="itemTable">
    <thead>
    <tr>
        <th> List of Student Grades </th>
    </tr>
    <tr><th> Item </th>
        <th> Grade </th></tr>
    </thead>
    <tbody>
    <tr th:if="${item.empty}">
        <td> No Grades Available </td>
    </tr>
    <tr th:each="item : ${item}">
        <td><span th:text="${item.name}"></span></td>
        <td><span th:text="${person.name}"></span></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/item/all}" method="get">
    <input type="submit" Value="Back to Item List"/>
</form>
<form th:action="@{/}" method="get">
    <input type="submit" Value="Home Page"/>
</form>
</body>
</html>